<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{ title }}</title>



    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('view_home') }}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('avis') }}">Avis<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('wordcloud') }}">WordCloud<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('search') }}">Search<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>


    </div>
</head>

<body>

<div>

    {% if title == 'Home' %}
    <div style="margin-top: 2%">
        <p style="text-align: center">Nous avons choisi de réaliser ce projet, car c’est un sujet important pendant cette période. Nous avons trouvé intéressant de prendre des données depuis Twitter, car c’est une plateforme très utilisée pour parler de politique.</p>
    </div>

    {% else %}
    {% endif %}


    {% if title == 'Avis' %}
    {% if img %}
    <div style="text-align: center">
        <img src="data:image/jpeg;base64, {{ img }}">
    </div>
    {% endif %}
    {% else %}
    {% endif %}

    {% if title == 'WordCloud' %}
    {% if hists %}
    <div class="grid_container">
        {% for hist in hists %}
        <div>
            <img src="static/{{hist}}" alt="{{hist}}">

            <p style="text-align: center">{{hist[14:-4]}}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% else %}
    {% endif %}

    {% if title == 'Search' %}
    <form action="data_search" method = "POST">
        <p style="margin-top: 2%; text-align: center">Utilisateur <br> <input type = "text" name = "Twitter_user" /></p>
        <p style="margin-top: 2%; text-align: center">Nombre de tweets<br> <input type = "number" name = "Twitter_count" /></p>
        <p style="text-align: center"><input type = "submit" value = "Chercher" /></p>
    </form>
    {% endif %}


    {% if title == 'Search data' %}
    <h2 style="margin-top: 2%; text-align: center">D'après mon analyse, l'utilisateur @{{twitter_user}} est potentiellement une personne de {{parti_user}}</h2>
    <h3 style="text-align: center">Resultat : Gauche {{result_gauche}}% | Droite {{result_droite}}%</h3>
    <hr>
    {% if result_gauche == 0 and result_droite == 0 %}
        <h4 style="text-align: center">Resultat non concluant, du à un manque de donnée.</h4>
    {% else %}
    <h4 style="text-align: center">Voici un tableau recapitulatif des avis en fonction des candidats</h4>
    <div style="text-align: center">
        <img src="data:image/jpeg;base64, {{ img }}" alt="Probleme">
    </div>

    <h4 style="text-align: center">Voici les mots les plus utilise dans ces tweets en fonction de chaque candidats</h4>
    <div class="grid_container">
        {% for hist in hists %}
        <div>
            <img src="static/{{hist}}" alt="{{hist}}">

            <p style="text-align: center">{{hist[len_user:-4]}}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endif %}





</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>


</html>

<style>
    .grid_container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: center;
        align-items: center;
        margin-top: 2%;

    }
</style>